body {
  font-family: sans-serif;
  background-image: url("background.jpg");
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.key {
  width: 80px;
  height: 80px;
  margin: 15px;
  color: white;
  display: flex;
  text-align: center;
  transition: all 0.07s;
  background: rgba(82, 212, 245, 0.4);
  flex-direction: column;
  border: solid;
  border-width: 4px;
  border-radius: 5px;
  justify-content: center;
  border-color: #028388;
}

.keys {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.playing {
  transform: scale(1.1);
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px;
}

kbd {
  display: block;
  font-size: 2rem;
}

.sound {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: seashell;
}
